@import "variables";
@import "global";

// Post Checklists

.strive-content-calendar-parent {
    
    .heading {
        padding-right: 20px;
    }
}
.strive-post-checklists {
    box-sizing: border-box;
    margin-right: 20px;
    padding-bottom: 195px;

    * {
        box-sizing: border-box;
    }
    .loading {
        display: none;
        z-index: 39;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: 200px;
            height: 200px;
        }
    }
    form {
        position: relative;
    }
    .form-table {
        position: relative;
    }
    .checklist-tabs {
        // @extend %settings-tabs;
        position: relative;
        overflow: hidden;
        display: inline-flex;
        z-index: 9;
        
        a {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .tab {
        @extend %tab;
        cursor: grab;
    }
    .create-checklist {
        padding: 24px;
        border: none;
        background: none;
        margin: 0;
        cursor: pointer;
        color: $color-wp-blue;
        text-decoration: underline;
    }
    .checklist-container {
        position: relative;
        margin-top: -1px;
        background: #fff;
        border: solid 1px $color-border;
        border-radius: 0 6px 0 0;
        display: none;

        &.current {
            display: block;
        }
    }
    h2 {
        display: none;
    }
    .form-table {
        margin-top: 0;
    }
    .form-table th {
        display: none;
    }
    .form-table td {
        display: block;
        padding: 0;
    }
    .description {
        font-size: 16px;
    }
    .checklist-title-container {
        position: relative;
        display: inline-block;
        z-index: 2;
    }
    .checklist-title {
        margin: 18px 24px;
        padding-left: 0;
        font-size: 18px;
        border-color: transparent;
        border-radius: 0;
        background: none;
        min-width: 300px;

        &:hover {
            border-color: transparent;
            border-bottom-color: $color-border;

            + span {
                opacity: 1;
            }
        }
        &:active,
        &:focus {
            border-color: transparent;
            border-bottom-color: $color-wp-blue;
            box-shadow: none;

            + span {
                opacity: 1;
                color: $color-wp-blue;
            }
        }
    }
    .dashicons-edit {
        position: absolute;
        z-index: -1;
        top: 28px;
        right: 14px;
        color: #ADBBC4;
        opacity: 0;
    }
    .delete-button-container {
        float: right;
        padding: 18px 24px;
    }
    .delete-button {
        display: flex;
        align-items: center;
        padding: 4px 8px;

        &:hover,
        &:active,
        &:focus {
            color: $color-not-started;
            border-color: $color-not-started;
        }
        .dashicons {
            font-size: 18px;
            margin-right: 4px;
        }
    }
    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        clear: both;
    }
    .section {
        position: relative;
        padding: 18px 24px 24px;
        border-top: solid 1px $color-border;
        width: 50%;
        background: #fff;
        min-height: 188px;
        background: $color-bg;
        
        &.writing {
            border-left: solid 1px $color-border;
        }
        &.complete {
            border-left: solid 1px $color-border;
        }
        input {
            display: block;
            width: 100%;
            margin-bottom: 8px;
            border-color: $color-border;
            border-radius: 5px;
            padding: 4px 8px;
            box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
            transition: border-color 0.1s;

            &:focus {
                border-color: $color-wp-blue;
            }
        }
        .circle {
            color: $color-not-started;
        }
        &.writing .circle {
            color: $color-writing;
        }
        &.editing .circle {
            color: $color-editing;
        }
        &.complete .circle {
            color: $color-complete;
        }
    }
    .section-title {
        position: relative;
        z-index: 3;
        font-size: 16px;
        margin-bottom: 18px;
    }
    .add-item {
        position: relative;
        z-index: 3;
        margin: 18px 0 12px;
        color: #fff;
        background-color: #222;
        border: none;
        transition: background-color 0.1s;

        &:hover,
        &:active,
        &:focus {
            background-color: #333;
            color: #fff;
        }
    }
    .task-container {
        min-height: 38px;
    }
    .task {
        position: relative;

        &:hover {

            .remove-item,
            .drag-handle {
                opacity: 1;
            }
        }
        &.gu-mirror,
        &.gu-transit  {

            input {
                width: 100%;
            }
        }
    }
    .remove-item {
        position: absolute;
        top: 8px;
        right: 4px;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        color: $color-not-started;
        color: #000;
        opacity: 0;
        transition: 0.1s opacity;

        &:hover {
            cursor: pointer;
        }
    }
    .drag-handle {
        position: absolute;
        top: 11px;
        right: calc(100% + 3px);
        width: 14px;
        opacity: 0;
        color: $color-dark-gray;
        transition: 0.1s opacity;

        &:hover {
            cursor: pointer;
        }
    }
    .submit {
        margin-top: -9px;
        padding: 24px !important;
        background: #fff;
        border: solid 1px $color-border;
        border-radius: 0 0 6px 6px;
    }
    .default-checklist-row {

        select {
            padding: 2px 28px 2px 10px;
            border-color: #bbb;
            border-radius: 5px;
            box-shadow: 0 3px 2px 0 rgba(0,0,0,0.05);
        }
    }
    .setting-title {
        display: block;
        font-size: 18px;
        margin-bottom: 18px;
    }
    .import-export {
        display: flex;
        float: right;
        padding: 18px 0;
        // position: absolute;
        // right: 118px;
        // top: 86px;

        button {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 4px 8px;

            .dashicons {
                font-size: 18px;
                margin-right: 4px;
            }
        }
        .export-button {
            margin-right: 6px;
        }
    }
    .checklists-order {
        display: none;
    }
}
.strive-settings-container {
    @extend %popup-container;
}
.strive-settings {
    @extend %popup-modal;
}
.strive-content-calendar-parent.color-blind .strive-post-checklists {
 
    .section {

        .circle {
            color: $color-blind-not-started;
        }
        &.writing .circle {
            color: $color-blind-writing;
        }
        &.editing .circle {
            color: $color-blind-editing;
        }
        &.complete .circle {
            color: $color-blind-complete;
        }
    }
}