@import "variables";

#wpadminbar #wp-admin-bar-strive-revision-label {
    background: #4B87EC;
    color: #000;

    &:hover {
        background: #4B87EC;
        color: #000;

        > div {
            background: #4B87EC;
            color: #fff;
        }
    }
}
.editorial-status {
    width: 100%;
    margin: 6px 0 12px;
}
.editorial-status .components-flex > div {
    flex: 1 1 100%;
}
.checkbox-container {
    display: none;

    &.show {
        display: block;
    }
}
.no-checklists {
    padding: 16px;
}
// Checklist select dropdown 
.checklist-select {
    padding: 12px;
    background: #f5f5f5;
}

// Classic Editor post checklists
#scc_post_checklists .inside {
    padding: 0;
    margin: 0;
}
.checklist-select-classic {
    padding: 16px;
    background: $color-bg;
    border-bottom: solid 1px $color-border;
}
.checklist-section {
    display: none;
    padding: 0 16px;
    border-bottom: solid 1px $color-border;

    &.show {
        display: block;
    }
    &:last-child {
        border-bottom: none;
    }
    label {
        font-size: 14px;
    }
}
.checklist-section .section-title {
    font-size: 14px;
    font-weight: 700;
}
#scc_post_checklists select {
    @extend %select;
    width: 100%;
}
// Post Notes
.strive-post-notes {
    width: 100%;
}