@import "variables";
@import "global";

html,
body {
    min-height: 100%;
    height: auto;
}
.fs-secure-notice {
    display: none;
}
.wrap.fs-section,
#fs_affiliation_content_wrapper {
    margin: 0;

    .nav-tab-wrapper {
        display: none;
    }
    #poststuff {
        padding-top: 0;
    }
    .postbox {
        border-color: $color-border;
        border-radius: 6px;
        max-width: 860px;
    }
    #apply_button,
    #submit_button {
        line-height: 1.5;
    }
    .fs-upgrade.button-upgrade {
        padding: 0 10px;
    }
}