@import "variables";
@import "global";

// Test and then put on every page
.strive-content-calendar-parent,
.strive-content-calendar-parent * {
    box-sizing: border-box;
}
.settings-tabs {
    @extend %settings-tabs;

    .tab {
        margin-right: -4px;

        &.current {
            border-bottom: solid 1px #fff;

            &:before {
                content: '';
                position: absolute;
                left: -1px;
                top: 12px;
                bottom: -1px;
                width: 1px;
                background: $color-border;
            }
        }
    }
}
.settings-group {
    display: none;
    border-top: solid 1px $color-border;
    margin-top: -1px;
    width: 100%;
    max-width: 850px;

    &.current {
        display: inline-block;
    }
}
.strive-settings-container {
    @extend %popup-container;
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
}
.strive-settings {
    @extend %popup-modal;
    position: static;
    transform: none;
    box-shadow: none;
    margin: 0;
    max-width: none;
    width: 100%;

    .inner {
        overflow: visible;
        max-height: none;
    }
    h2 {
        border-bottom: none;
    }
    .close-button {
        display: none;
    }
    form {
        background: #fff;
        border: solid 1px $color-border;
        border-top: none;
    }
    label {
        font-size: 15px;
    }
    .expand-categories {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 6px 0;
        margin: 0;
        font-size: 14px;
        background: none;
        border: none;
        color: $color-wp-blue;

        &:hover {
            color: $color-wp-blue-hover;

            .text {
                text-decoration: underline;
            }
        }
    }
    .category-colors {
        max-height: 0;
        overflow: hidden;

        &.open {
            max-height: none;
            overflow: visible;
        }
        ul {
            margin-top: 0;
            padding-top: 12px;
        }
        li {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 16px;
        }
        .pickr {
            margin-right: 8px;
        }
    }
}
// Style fixes for pickr
.pcr-app {

    .pcr-swatches {
        justify-content: space-between;
    }
    .pcr-interaction {

        input {
            line-height: 2;
            max-height: none;
            box-shadow: none;
            border: none;
        }
    }
}
.form-table th {
    width: 360px;
    padding: 22px 10px 22px 0;
    font-weight: 400;
}
.calendar-week-option,
.calendar-prev-week-option,
.pipeline-layout-label {
    margin-right: 8px;
    font-size: 15px;

    input {
        margin-right: 2px !important;
    }
}

// Fix for checkboxes on small screens
@media all and (max-width: 782px) {

    .strive-settings {

        input[type=radio] {

            &:checked::before {
                width: 11px;
                height: 11px;
                border: solid 7px $color-wp-blue;
            }
        }
    }
}